*.bin
*.wav
*.mp3
music/**/*.csv
moremusic
musicchill
*.pyc
*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.tar.gz
*.gz
musicmore/
tensorflow/
